Data/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Notebook checkpoints
.ipynb_checkpoints/
